<div class="tanbg">
    <div class="close-tc" title="关闭"></div>
    <div class="tc-h4" id="title">
    </div>

    <ul class="xqcxl big">
        <li class="clear">
            <label for="" class="label">职位名称：</label>
            <div class="fl-left">
                <input class="input" type="text" id="roleName" placeholder="职位名称">
            </div>
        </li>
        <li class="clear">
            <label for="" class="label">所属部门：</label>
            <div class="fl-left">
                <input class="input" type="text" id="deptName" placeholder="所属部门"/>
            </div>
        </li>
        <li class="clear">
            <label for="" class="label">是否是主管：</label>
            <div class="fl-left" id="checkboxlabel">
                <label class="checkboxlabel yes">
                    <input type="checkbox" class="checkbox" value="true" id="checked">
                </label>是 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="checkboxlabel no">
                    <input type="checkbox" class="checkbox" value="false" id="unchecked">
                </label>否
            </div>
        </li>
        <li class="clear" style="display: none" id="roleLi">
            <label for="" class="label">所属主管：</label>
            <div class="fl-left">
                <input class="input" type="text" id="role" placeholder="所属主管"/>
            </div>
        </li>
    </ul>
    <p class="p-bottom fr-center">
        <button class="btn" name="btnsave" id="save">保存</button>
        <button class="btn" name="btncancel" id="cancel">取消</button>
    </p>
</div>