<div class="b-center" style="padding:7px;">
    <div class="index-top">
        <div class="index-left" style="">
            <div class="richeng">
                <div class="tit">我的预约</div>
            </div>
            <ul class="rich-ul" id="a" style="">
                <li class="red" style="display: block;position: relative;height: 166px;" id="b">

                    <span class="mes" style="position: absolute;text-align: center;top: 50%;left: 50%;transform: translate(-50% ,-50%);">没有查询到有效数据</span>
                </li>
            </ul>
        </div>

        <div class="index-right">
            <div class="richeng">
                <div class="tit">我的到访</div>
            </div>
            <ul class="rich-ul" id="scheul" style="overflow-y: auto;overflow-x: hidden;">
                <li name="scheli">
                    <span class="icon icon-const3" style="margin-top:-8px;"></span>
                    <span class="mes">当月到访人数：null</span>
                </li>
                <li name="scheli">
                    <span class="icon icon-const3" style="margin-top:-8px;"></span>
                    <span class="mes">当天到访人数：null</span>
                </li>
                <li name="scheli">
                    <span class="icon icon-const3" style="margin-top:-8px;"></span>
                    <span class="mes">有效率：null %</span>
                </li>
                <li class="red" style="display: none;position: relative;height: 166px;" id="nodata">
                    <span class="mes" style="position: absolute;text-align: center;top: 50%;left: 50%;transform: translate(-50% ,-50%);">没有查询到有效数据</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="index-foot" style="height: 372px; width: 100%;">
        <div class="bar" id="homeline" style="height: 372px; width: 830px;" >

        </div>
    </div>
</div>