<div class="tanbg">
    <div class="close-tc" title="关闭"></div>
    <div class="tc-h4" id="title">
    </div>

    <ul class="xqcxl big">

        <li class="clear" name="enterprise">
            <label for="" class="label">企业名称：</label>
            <div class="fl-left">
                <input class="input" type="text" name="enterprise" id="enterprise" placeholder="企业名称">
            </div>
        </li>
        <li class="clear" name="enterprise">
            <label for="" class="label">报备时间：</label>
            <div class="fl-left">
                <input class="input time" type="text" placeholder="报备时间" id="createDate">
            </div>
        </li>
        <li class="clear" name="enterprise">
            <label for="" class="label">报备人：</label>
            <div class="fl-left">
                <input class="input" type="text" name="inspector" id="inspector" placeholder="报备人">
            </div>
        </li>
        <li class="clear" name="enterprise">
            <label for="" class="label">联系电话：</label>
            <div class="fl-left">
                <input class="input" type="text" name="telphone" id="telphone" placeholder="联系电话">
            </div>
        </li>
        <li class="clear" name="enterprise">
            <label for="reportData" class="label">报备材料上传：</label>
            <div class="fl-left short" id="reportData">
            </div>
        </li>
        <li class="clear" name="enterprise">
            <label for="" class="label">作业类型：</label>
            <div class="fl-left">
                <div class="input select-icon" name="worktype" id="worktype"></div>
            </div>
        </li>
        <li class="clear" style="display: none;">
            <label for="" class="label">状态：</label>
            <div class="fl-left">
                <span class="look" id="type"></span>
            </div>
        </li>
        <li class="clear" style="display: none;">
            <label for="" class="label">第三方审核意见：</label>
            <div class="fl-left">
                <input class="input" type="text" placeholder="第三方审核意见" id="thirdPartyIdea">
            </div>
        </li>
        <li class="clear" style="display: none;">
            <label for="" class="label">第三方检查情况：</label>
            <div class="fl-left">
                <textarea name="" id="thirdPartyCaseText" class="textarea" style="border:1px solid #D9D9D9;width:98%;" placeholder="第三方审核情况"></textarea>
            </div>
        </li>
        <li class="clear" style="display: none;">
            <label for="thirdPartyCase" class="label long"></label>
            <div class="fl-left short" id="thirdPartyCase">
            </div>
        </li>
        <li class="clear" style="display: none;">
            <label for="" class="label">作业结束时间：</label>
            <div class="fl-left">
                <input class="input time" type="text" placeholder="作业结束时间" id="workEndDate">
            </div>
        </li>
    </ul>
    <p class="p-bottom fr-center">
        <button class="btn" name="btnsave">保存</button>
        <button class="btn" name="btncancel">取消</button>
    </p>
</div>