<div class="tanbg">
    <div class="close-tc" title="关闭"></div>
    <div class="tc-h4" id="title">
    </div>

    <ul class="xqcxl big">
        <li class="clear" name="enterprise">
            <label for="" class="label">中心名称：</label>
            <div class="fl-left">
                <input class="input" type="text" id="schoolName" placeholder="中心名称">
            </div>
        </li>
    </ul>
    <p class="p-bottom fr-center">
        <button class="btn" name="btnsave" id="save">保存</button>
        <button class="btn" name="btncancel" id="cancel">取消</button>
    </p>
</div>