<div class="fast-now" id="currentLoc"></div>
<div class="b-center">
    <div class="qiye">
        <table class="no-border-table long"style="table-layout: fixed;word-break: break-all;height:66px;">
            <tr>
                <td width="25%">
                    <div class="form-td"  style="width: 30%">
                        <input type="text" class="seach" style="width: 60%" id="name" placeholder="名称">
                        <i class="icon icon-seach" id="search"></i>
                    </div>
                    <i class="icon icon-import" id="import" style="float: right; margin-top: -2px;"></i>
                    <i class="icon icon-addFP" id="add" style="float: right; margin-top: -2px;"></i>
                    <div class="form-td"  style="width: 15%; float: right">
                        <input type="text" class="seach" style="width: 60%" id="user" placeholder="人员">
                    </div>
                </td>
            </tr>
        </table>
        <div class="qiye-box">
            <table class="none-border-table">
                <colgroup>
                    <col width="10%">
                    <col width="10%">
                    <col width="8%">
                    <col width="12%">
                    <col width="12%">
                    <col width="12%">
                </colgroup >
                <thead>
                <tr>
                    <td>姓名</td>
                    <td>联系方式</td>
                    <td>性别</td>
                    <td>创建时间</td>
                    <td>最后一次修改时间</td>
                    <td><span class="patrolcheckboxlabel" id="all" style=""></span></td>
                </tr>
                </thead>
                <tbody id="tbody">

                </tbody>
            </table>
            <div style="text-align: center; color: red;" id="querynoresult">没有查询到相关的数据</div>
            <div class="page" id = "page">
            </div>
        </div>
    </div>
</div>