<div class="tanbg">
    <div class="close-tc" title="关闭"></div>
    <div class="tc-h4" id="title1">
        基本信息
    </div>
    <ul class="xqcxl big">
        <li class="clear">
            <label for="" class="label">姓名：</label>
            <div class="fl-left">
                <span class="look">
                        <%=obj.attr1%>
                </span>
            </div>
        </li>
        <li class="clear">
            <label for="" class="label">联系方式：</label>
            <div class="fl-left">
                <span class="look">
                    <%=obj.attr3%>
                </span>
            </div>
        </li>
        <li class="clear">
            <label for="" class="label">性别：</label>
            <div class="fl-left">
                <span class="look">
                    <%=obj.attr4%>
                </span>
            </div>
        </li>
        <li class="clear">
            <label for="" class="label">学校：</label>
            <div class="fl-left">
                <span class="look">
                    <%=obj.attr5%>
                </span>
            </div>
        </li>
        <li class="clear">
            <label for="" class="label">小区：</label>
            <div class="fl-left">
                <span class="look">
                    <%=obj.attr6%>
                </span>
            </div>
        </li>
        <li class="clear">
            <label for="" class="label">年级：</label>
            <div class="fl-left">
                <span class="look">
                    <%=obj.attr7%>
                </span>
            </div>
        </li>
        <li class="clear">
            <label for="" class="label">生日：</label>
            <div class="fl-left">
                <span class="look">
                    <%=obj.attr8%>
                </span>
            </div>
        </li>
    </ul>
    <div class="tc-h4" id="title2">
        渠道信息
    </div>
    <ul class="xqcxl big">
        <li class="clear">
            <label for="" class="label">中心：</label>
            <div class="fl-left">
                <span class="look">
                    <%=obj.attr9%>
                </span>
            </div>
        </li>
        <li class="clear">
            <label for="" class="label">渠道：</label>
            <div class="fl-left">
                <span class="look">
                    <%=obj.attr10%>
                </span>
            </div>
        </li>
        <li class="clear">
            <label for="" class="label">来源：</label>
            <div class="fl-left">
                <span class="look">
                    <%=obj.attr11%>
                </span>
            </div>
        </li>
        <li class="clear">
            <label for="" class="label">推广点：</label>
            <div class="fl-left">
                <span class="look">
                    <%=obj.attr12%>
                </span>
            </div>
        </li>
        <li class="clear">
            <label for="" class="label">备注：</label>
            <div class="fl-left">
                <span class="look">
                    <%=obj.attr13%>
                </span>
            </div>
        </li>
    </ul>
    <div class="tc-h4" id="title3">
        问卷情况
    </div>
    <ul class="xqcxl big">
        <li class="clear">
            <label for="" class="label">意向产品类型：</label>
            <div class="fl-left">
                <span class="look">
                    <%=obj.attr14%>
                </span>
            </div>
        </li>
        <li class="clear">
            <label for="" class="label">课程需求：</label>
            <div class="fl-left">
                <span class="look">
                    <%=obj.attr15%>
                </span>
            </div>
        </li>
        <li class="clear">
            <label for="" class="label">客户分类：</label>
            <div class="fl-left">
                <span class="look">
                    <%=obj.attr16%>
                </span>
            </div>
        </li>
    </ul>
    <p class="p-bottom fr-center">
        <button class="btn" name="btncancel" id="cancel">关闭</button>
    </p>
</div>