<style>
    .adduser{
        cursor:hand;
        color: #0052A3;
    }
</style>
<div class="fast-now" id="currentLoc"></div>
<div class="b-center">
    <div class="qiye" style="">
        <table class="no-border-table long"style="table-layout: fixed;word-break: break-all;border-collapse:separate; border-spacing:0px 10px;">
            <tr>
                <td width="30%">
                    <div class="form-td"  style="width: 90%">
                        <input type="text" class="seach" style="width: 100%" id="name" placeholder="模糊查询">
                    </div>
                </td>
                <td width="30%"><i class="icon icon-add" id="add" style="float: right;"></i></td>
                <td width="30%" align="right"><span class="gaojisousuo" style="font-size: 16px; color: #3c9adb; cursor: pointer;" title="高级搜索" >高级</span></td>
            </tr>
            <tr class="gaoji" hidden>
                <td width="30%">
                    <div class="form-td"  style="width: 90%">
                        <input type="text" class="seach" id="attr3" style="width: 100%" placeholder="名称">
                    </div>
                </td>
                <td width="30%">
                    <div class="form-td"  style="width: 90%">
                        <input type="text" class="seach" id="attr5" style="width: 100%" placeholder="学校">
                    </div></td>
                <td width="30%">
                    <div class="form-td"  style="width: 90%">
                        <input type="text" class="seach" id="attr6" style="width: 100%" placeholder="年级">
                    </div></td>
                </td>
            </tr>
            <tr class="gaoji" hidden>
                <td width="30%">
                    <div class="form-td"  style="width: 90%">
                        <input type="text" class="seach" id="attr27" style="width: 100%" placeholder="类型">
                    </div>
                </td>
                <td width="30%">
                    <div class="form-td"  style="width: 90%">
                        <input type="text" class="seach" style="width: 100%" placeholder="名称">
                    </div></td>
                <td width="30%">
                    <div class="form-td"  style="width: 90%">
                        <input type="text" class="seach" style="width: 100%" placeholder="名称">
                    </div></td>
                </td>
            </tr>
        </table>
        <div class="qiye-box" style="overflow-y: scroll;" id="tableVue">
            <table class="none-border-table" style="margin-bottom: 0;">
                <colgroup>
                    <col width="40">
                    <col width="100">
                    <col width="40">
                    <col width="60">
                    <col width="60">
                    <col width="40">
                    <col width="60">
                    <col width="90">
                    <col width="60">
                    <col width="8%">
                </colgroup >
                <thead>
                <tr>
                    <td>序号</td>
                    <td>日期</td>
                    <td>收据</td>
                    <td>姓名</td>
                    <td>性别</td>
                    <td>学校</td>
                    <td>年级</td>
                    <td>手机号</td>
                    <td>类型</td>
                    <td>操作</td>
                </tr>
                </thead>
            </table>
        </div>
        <div class="qiye-boxx" style="height: 65%; overflow-y: scroll;margin-top: 0;">
            <table class="none-border-table" style="margin-top: 0;">
                <colgroup>
                    <col width="40">
                    <col width="100">
                    <col width="40">
                    <col width="60">
                    <col width="60">
                    <col width="40">
                    <col width="60">
                    <col width="90">
                    <col width="60">
                    <col width="8%">
                </colgroup >
                <tbody id="tbody" style="height: 400px;">

                </tbody>
            </table>
            <div style="text-align: center; color: red;" id="querynoresult">没有查询到相关的数据,是否需要<span id="addUser" class="adduser"> 添加 </span>新数据</div>
            <div class="page" id = "page">
            </div>
        </div>
    </div>
</div>